<footer class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg text-center my-auto">
      <ul class="list-inline footer-links my-auto">
        {% for link in site.social-network-links %}
          {% assign curkey = link[0] %}
          {% assign element = site.data.SocialNetworks[curkey] %}
          <li class="list-inline-item">
            <a
              {% if curkey == "rss" %}
              href="{{ '/feed.xml' | absolute_url }}"
              {% elsif curkey == "yelp" %}
              href="https://{{ site.social-network-links[curkey] }}.yelp.com"
              {% else %}
              href="{{element.baseURL}}{{ site.social-network-links[curkey] }}"
              {% endif %}
              title="{{ element.name }}">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="{{ element.icon }} fa-stack-1x fa-inverse"></i>
              </span>
              <span class="sr-only">{{ element.name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-12 col-lg text-center my-auto muted">
      <p class="copyright">
        {{ site.author.name }}
        &nbsp;&bull;&nbsp;
        {{ site.time | date: '%Y' }}

        {% if site.url-pretty %}
          &nbsp;&bull;&nbsp;
          <a href="{% link index.html %}">{{ site.url-pretty }}</a>
        {% endif %}
      </p>

      <p class="theme-by">
        Inspired by
        <a href="https://deanattali.com/beautiful-jekyll/">beautiful-jekyll</a>
      </p>
    </div>
  </div>
</footer>