<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">

  <title>
    {% if page.use-site-title %}
      {{ site.title | strip_html }}
    {% elsif page.title %}
      {{ page.title | strip_html }}
    {% else %}
      {{ site.title | strip_html }}
    {% endif %}
  </title>

  <meta name="author" content="{{ site.author.name }}">

  {% if page.subtitle %}
    <meta name="description" content="{{ page.subtitle | strip_html }}">
  {% endif %}

  {% if layout.stylesheets %}
    {% for stylesheet in layout.stylesheets %}
      {% include resource.liquid type = "stylesheet" url=stylesheet %}
    {% endfor %}
  {% endif %}

  {% if layout.googlefonts %}
    {% for font in layout.googlefonts %}
      {% assign fonturl = '//fonts.googleapis.com/css?family=' | append: font %}
      {% include resource.liquid type = "stylesheet" url=fonturl external=true %}
    {% endfor %}
  {% endif %}

  {% if page.stylesheets %}
    {% for stylesheet in page.stylesheets %}
      {% include resource.liquid type = "stylesheet" url=stylesheet %}
    {% endfor %}
  {% endif %}

  {% if page.googlefonts %}
    {% for font in page.googlefonts %}
      {% assign fonturl = '//fonts.googleapis.com/css?family=' | append: font %}
      {% include resource.liquid type = "stylesheet" url=fonturl external=true %}
    {% endfor %}
  {% endif %}

  <!-- #region Facebook OpenGraph tags -->
  {% if site.fb_app_id %}
    <meta property="fb:app_id" content="{{ site.fb_app_id }}">
  {% endif %}

  {% if page.meta-title %}
    <meta property="og:title" content="{{ page.meta-title }}">
  {% elsif page.title %}
    <meta property="og:title" content="{{ page.title | strip_html }}">
  {% else %}
    <meta property="og:title" content="{{ site.title | strip_html }}">
  {% endif %}

  {% if page.meta-description %}
    <meta property="og:description" content="{{ page.meta-description }}">
  {% elsif page.subtitle %}
    <meta property="og:description" content="{{ page.subtitle | strip_html }}">
  {% else %}
    <meta property="og:description" content="{{ content | strip_html | xml_escape | truncatewords: 50 }}">
  {% endif %}

  <meta property="og:type" content="website">

  {% if page.id %}
    <meta property="og:url" content="{{ page.url | relative_url }}">
    <link rel="canonical" href="{{ page.url | relative_url }}">
  {% else %}
    <meta property="og:url" content="{{ page.url | relative_url | strip_index }}">
    <link rel="canonical" href="{{ page.url | relative_url | strip_index }}">
  {% endif %}

  {% if page.share-img %}
    <meta property="og:image" content="{% link {{ page.share-img }} %}">
  {% elsif site.avatar %}
    <meta property="og:image" content="{% link {{ site.avatar }} %}">
  {% endif %}

  <!-- #endregion -->

  <!-- #region Twitter summary cards -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.author.twitter }}">
  <meta name="twitter:creator" content="@{{ site.author.twitter }}">

  {% if page.meta-title %}
    <meta name="twitter:title" content="{{ page.meta-title }}">
  {% elsif page.title %}
    <meta name="twitter:title" content="{{ page.title | strip_html }}">
  {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}

  {% if page.meta-description %}
    <meta name="twitter:description" content="{{ page.meta-description }}">
  {% elsif page.subtitle %}
    <meta name="twitter:description" content="{{ page.subtitle | strip_html }}">
  {% else %}
    <meta name="twitter:description" content="{{ content | strip_html | xml_escape | truncatewords: 50 }}">
  {% endif %}

  {% if page.share-img %}
    <meta name="twitter:image" content="{% link {{ page.share-img }} %}">
  {% elsif site.avatar %}
    <meta name="twitter:image" content="{% link {{ site.avatar }} %}">
  {% endif %}

  <!-- #endregion -->

</head>