{% if page.avatar or site.avatar and page.show-avatar %}
  {% assign include-avatar = true %}
{% else %}
  {% assign include-avatar = false %}
{% endif %}

<nav class="navbar navbar-expand-lg fixed-top navbar-main {% if include-avatar %}include-avatar{% endif %}">
  <div class="container-fluid">

    <div class="navbar-brand">
      {% if site.navbar-img %}
        <span class="navbar-brand-logo">
          <img src="{% link {{ site.navbar-img }} %}">
        </span>
      {% endif %}
      <a href="https://userlab.utk.edu/">
        {{ site.title }}
      </a>
    </div>

    {% if include-avatar %}
      <div class="nav-avatar">
        <div class="nav-avatar-border">
          <a href="{% link index.html %}">
            {% if page.avatar %}
              <img class="img-fluid" src="{% link {{ page.avatar }} %}">
            {% else %}
              <img class="img-fluid" src="{% link {{ site.avatar }} %}">
            {% endif %}
          </a>
        </div>
      </div>
    {% endif %}

    <a
      class="navbar-light navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#main-navbar-links"
      aria-controls="main-navbar-links"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>

    <div class="collapse navbar-collapse" id="main-navbar-links">
      <ul class="navbar-nav ml-auto">{% comment %}
          <li class="nav-item">
          <a class="nav-link" href="{% link some_link.html %}">News</a>
          </li>

          <li class="nav-item dropdown">
          <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown-tbd"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          TBD
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown-tbd">
          {% for item in collection %}
          <a class="dropdown-item" href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {% endfor %}
          </li>
          </li>
        {% endcomment %}
      </ul>
    </div>

  </div>
</nav>
<div class="navbar-margin-bottom"></div>