{% if include.external %}
  {% assign url = include.url %}
{% else %}
  {% assign url = include.url | relative_url %}
{% endif %}

{% if include.type == "stylesheet" %}
  <link
    rel="stylesheet"
    href="{{ url }}"
    {% if include.data.integrity %}
    integrity="{{ include.data.integrity }}"
    {% endif %}
    {% if include.data.crossorigin %}
    integrity="{{ include.data.crossorigin }}"
    {% endif %}>
{% elsif include.type == "script" %}
  <script
    src="{{ url }}"
    {% if include.data.integrity %}
    integrity="{{ include.data.integrity }}"
    {% endif %}
    {% if include.data.crossorigin %}
    integrity="{{ include.data.crossorigin }}"
    {% endif %}
    {% if include.data.async %}
    async
    {% endif %}></script>
{% endif %}