{% if layout.scripts %}
  {% for script in layout.scripts %}
    {% include resource.liquid type = "script" url=script %}
  {% endfor %}
{% endif %}

{% if page.scripts %}
  {% for script in page.scripts %}
    {% include resource.liquid type = "script" url=script %}
  {% endfor %}
{% endif %}