{% if page.social-share and site.share-links.size > 0 %}
  {% assign page_title = page.title | url_encode %}
  {% assign page_url = page.url | absolute_url | url_encode %}

  <section class="social-share">
    <div class="row">
      <div class="col-auto my-auto list-header">
        Share:
      </div>

      <div class="col">
        <ul class="list-inline my-auto">

          {% if site.share-links contains "twitter" %}
            <li class="list-inline-item">
              <a
                  href="https://twitter.com/intent/tweet?text={{ page_title }}&url={{ page_url }}"
                  title="Share on Twitter"
                  rel="noopener"
                  target="_blank">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="{{ site.data.SocialNetworks['twitter']['icon'] }} fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">Twitter</span>
              </a>
            </li>
          {% endif %}
      
        {% if site.share-links contains "facebook" %}
          <li class="list-inline-item">
            <a
                href="https://www.facebook.com/sharer/sharer.php?display=page&u={{ page_url }}"
                title="Share on Facebook"
                rel="noopener"
                target="_blank">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="{{ site.data.SocialNetworks['facebook']['icon'] }} fa-stack-1x fa-inverse"></i>
              </span>
              <span class="sr-only">Facebook</span>
            </a>
          </li>
        {% endif %}
      
        {% if site.share-links contains "linkedin" %}
          <li class="list-inline-item">
            <a
                href="https://www.linkedin.com/shareArticle?mini=true&url={{ page_url }}&title={{ page_title }}"
                title="Share on LinkedIn"
                rel="noopener"
                target="_blank">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="{{ site.data.SocialNetworks['linkedin']['icon'] }} fa-stack-1x fa-inverse"></i>
              </span>
              <span class="sr-only">LinkedIn</span>
            </a>
          </li>
        {% endif %}

      </div>
    </div>
  </section>
{% endif %}
