---
stylesheets:
  - /assets/vendor/css/bootstrap.min.css
  - /assets/vendor/css/fontawesome.min.css
  - /assets/css/main.css
googlefonts:
  - Lora:400,700,400italic,700italic
  - Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800
scripts:
  - /assets/vendor/js/jquery.min.js
  - /assets/vendor/js/bootstrap.bundle.min.js
  - /assets/js/navbar.js

show-avatar: true
---

<!DOCTYPE html>
<html lang="en">
  {% include head.liquid %}

  <body>
    {% include nav.liquid %}

    <main class="container">
      {{ content }}
    </main>

    {% include footer.liquid %}
    {% include scripts.liquid %}
  </body>
</html>