---
layout: base
---

<div class="row page-title">
  <div class="col text-center">
    {% if page.img %}
      <div class="title-img text">
        <img src="{% link {{ page.img }} %}">
        <div class="caption">
          <h1>{{ page.title }}</h1>
        </div>
      </div>
    {% else %}
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}
        <h2>{{ page.subtitle }}</h2>
      {% endif %}
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col">
    {{ content }}
  </div>
</div>