$background-color: #FFFFFF;
$text-color: #333333;
$header-color: #58595B;

$link-color: #006C93;
$hover-color: #E65933;

$offset-color-1: #F6F6F6;
$offset-color-2: #E0E0E0;
$offset-color-3: #CACACA;
$offset-color-4: #B6B6B6;

$header-footer-background-color: $offset-color-1;
$header-footer-text-color: $text-color;
$header-footer-link-color: $text-color;