@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "colors";

footer {
  padding: 1rem 0;
  border-top: 1px #EAEAEA solid;
  margin-top: 50px;
  font-size: 14px;

  background-color: $header-footer-background-color;
  color: $header-footer-text-color;

  & .row>div {
    padding: 10px 0;

    @include media-breakpoint-up(lg) {
      padding: 5px;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 10px 0;

    & .footer-links {
      font-size: 18px;
    }

    & .copyright {
      font-size: 16px;
    }
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    color: $header-footer-text-color;
  }

  & a {
    color: $header-footer-link-color;
  }

  & .muted a {
    color: $header-color;
  }

  & .copyright {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
  }

  & .theme-by {
    margin: 10px 0 0;
  }

  & #cse-search {
    display: none;
  }

  & #cse-search-final {
    padding: 10px 0;

    & input {
      width: 200px;
    }

    & button {
      margin-left: 5px;
      border-color: $hover-color;
      height: 36px;
      width: 48px;

      &:hover,
      &:focus {
        background-color: $hover-color;
      }
    }
  }
}