@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "colors";

$navbar-estimated-height: 2.85rem;
$avatar-size: 8rem;
$navbar-bottom-margin: 2rem;

.navbar-main {
  background-color: $header-footer-background-color;
  border-bottom: 1px solid $offset-color-2;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  & .nav-link {
    margin-right: .25em;
    margin-left: .25em;

    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
  }

  & .dropdown-menu .dropdown-item:active {
    background-color: $hover-color;
  }

  & .navbar-brand {
    flex: 1;
    font-size: 24px;

    & .navbar-brand-logo {
      padding-right: 1rem;
      vertical-align: middle;

      & img {
        max-height: $navbar-estimated-height;
        max-width: $navbar-estimated-height;
      }
    }

    & a {
      vertical-align: middle;
    }
  }

  & .navbar-brand a,
  & .nav-link {
    font-weight: 800;
    color: $header-footer-link-color;

    &:hover,
    &:focus {
      color: $hover-color;
    }
  }

  & #main-navbar-links {
    @include media-breakpoint-up(lg) {
      flex: 1;
    }
  }

  & .navbar-toggler {
    @include media-breakpoint-down(md) {
      flex: 1;
      text-align: right;
    }
  }

  // Handle the avatar
  &.include-avatar {
    @include transition(padding .5s ease);

    & .nav-avatar {
      height: 0px; // We want this element to leave the nav box
      width: $avatar-size;
      @include transition(visibility linear 0.25s, opacity 0.25s ease);

      &.nav-expanded {
        display: none;
      }

      // Don't show if the hamburger menu is showing

      & .nav-avatar-border {
        height: $avatar-size;
        background-color: white;
        border-radius: 15%;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
      }
    }

    // Show larger when not scrolled. Margin stays the same to avoid breaking scrolling.
    &.scrolled {
      & .nav-avatar {
        opacity: 0;
        visibility: hidden;
      }
    }

    &:not(.scrolled) {
      padding: (3 * $navbar-padding-y) $navbar-padding-x;
    }

    &+div.navbar-margin-bottom {
      // Top half ot the menu + avatar-size (which includes other half of menu)
      margin-bottom: (.5 * $navbar-estimated-height) + (3 * $navbar-padding-y) + $avatar-size + $navbar-bottom-margin;
    }
  }

  // Handle no avatar
  &:not(.include-avatar) {
    & .nav-avatar {
      display: none;
    }

    &+div.navbar-margin-bottom {
      margin-bottom: $navbar-estimated-height + (2 * $navbar-padding-y) + $navbar-bottom-margin;
    }
  }
}