@import "colors";

body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 18px;
  color: $text-color;
  position: relative;
  background-color: $background-color;
}

.muted {
  color: $header-color;
}

p {
  line-height: 1.5;

  table+& {
    padding-top: 1em;
  }
}

em {
  font-style: italic;
  text-decoration: underline;
}

article {
  text-align: justify;
}

h1,
h2,
h3 {
  padding-top: 2rem;
}

h4,
h5,
h6 {
  padding-top: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: $header-color;

  div.row>div.col>&:first-child {
    padding-top: 0em;
  }

  &+p {
    margin-top: 0;
  }
}

a {
  color: $link-color;

  &:hover,
  &:focus {
    color: $hover-color;
  }
}

.btn.btn-primary {
  border-color: $link-color;
  background-color: $link-color;

  &:hover,
  &:focus {
    border-color: $hover-color;
    background-color: $hover-color;
  }
}

blockquote {
  background-color: $offset-color-2;
  font-style: italic;

  & p:first-child {
    margin-top: 0;
  }
}

.row.header-row {
  padding-bottom: 1rem;
}

hr.section-rule {
  border: none;
  height: 3px;
  background-color: $offset-color-2;
  margin: 3rem 0rem;
  text-align: center;
  clear: both;
}

// hr.section-rule:after {
//   content: "§";
//   display: inline-block;
//   position: relative;
//   top: -0.75em;
//   font-size: 1.5em;
//   padding: 0 0.25em;
//   background: $background-color;
// }

table:not(.rouge-table):not(.person-info-table):not(.comparison-table) {
  padding: 0;

  & tr {
    border-top: 1px solid $offset-color-2;
    background-color: $background-color;
    margin: 0;
    padding: 0;

    &:nth-child(2n) {
      background-color: $offset-color-1;
    }

    & th {
      font-weight: bold;
      border: 1px solid $offset-color-2;
      text-align: left;
      margin: 0;
      padding: 6px 13px;
    }

    & td {
      border: 1px solid $offset-color-2;
      text-align: left;
      margin: 0;
      padding: 6px 13px;
    }

    & td,
    & th {
      & :first-child {
        margin-top: 0;
      }

      & ::last-child {
        margin-bottom: 0;
      }
    }
  }
}

.page-title {
  padding-top: 1em;
  padding-bottom: 3em;

  h1 {
    font-variant: small-caps;
  }

  & .title-img {
    position: relative;
    text-align: center;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-height: 30em;
      border-radius: 3em;
    }

    & .caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      background-color: rgba($offset-color-1, .95);

      max-width: 80%;
      padding: 1em;
      border-radius: 1em;
    }
  }
}

.footnotes p {
  margin-bottom: .25em;
}

.paging {
  padding-top: .5em;

  & a.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 10px 5px;
    background-color: $background-color;
    border-color: $text-color;
    color: $text-color;
    padding: 15px 25px;

    &:hover,
    &:focus {
      border-color: $hover-color;
      background-color: $hover-color;
    }
  }
}

a.fa-button,
.fa-button a {
  color: $text-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $hover-color;
  }
}