@import 'colors';

.highlighter-rouge {
  margin-bottom: 2em;
}

.highlighter-rouge pre,
figure.highlight > pre {
  line-height: 1.5em;
  padding: 0.5em;
  border-left: 7px solid #555;

  & pre.lineno {
    color: #bbb;
    text-align: right;

    padding-right: 0.35em;
    margin-right: .5em;
    border-right: 1px solid white;
  }
}

// Undoing Bootstrap stylings that don't work well with Jekyll and Rouge
figure.highlight pre {
  color: inherit;
  & code pre {
    font-size: inherit;
  }
}

code.highlighter-rouge {
  background-color: $offset-color-1;
}
