#markdown-toc {
  border: 1px solid $offset-color-4;
  background-color: $offset-color-1;
  padding: 1.5em;
  display: inline-block;

  &::before {
    content: "Contents";
    font-weight: bold;
  }

  & ul { padding-left: 2em; }

  // Setup nested numbering
  list-style: decimal;
  counter-reset: toc-level1-item;
  & li {
    display: block;
    &::before {padding-right: .5em;}
  }

  // Level 1 counters
  & > li::before {
      content:  counters(toc-level1-item, ".");
      counter-increment: toc-level1-item;
      counter-reset: toc-level2-item;
  }

  // Level 2 counters
  & > li > ul > li::before {
    content:  counters(toc-level1-item, ".") "." counters(toc-level2-item, ".");
    counter-increment: toc-level2-item;
    counter-reset: toc-level3-item;
  }

  // Level 3 counters
  & > li > ul > li > ul > li::before {
    content:  counters(toc-level1-item, ".") "." counters(toc-level2-item, ".") "." counters(toc-level3-item, ".");
    counter-increment: toc-level3-item;
  } 
}
